ul {
    list-style-image: url('ul.png');

}

.custom-button1 {
    display: flex;
    align-items: center;
    border: 0px solid #ccc; 
    border-radius: 10px; 
    background-color: #f0f0f0; 
    cursor: pointer;
    margin: 5%; 
    flex-basis: calc(50% - 10px); 
    max-width: 48vw; 
    height: auto;
    transition: background-color 0.3s ease-in-out;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: orange;
}